@page
@model HotelWebApp.Pages.Bookings.BookaRoomModel
@{
    ViewData["Title"] = "BookaRoom";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderInput.RoomID" class="control-label"></label>
                <select asp-for="OrderInput.RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
            </div>

            <div class="form-group">
                <label asp-for="OrderInput.CheckIn" class="control-label"></label>
                <input asp-for="OrderInput.CheckIn" class="form-control" />
                <span asp-validation-for="OrderInput.CheckIn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrderInput.CheckOut" class="control-label"></label>
                <input asp-for="OrderInput.CheckOut" class="form-control" />
                <span asp-validation-for="OrderInput.CheckOut" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewData["SuccessDB"] != null)
{
   
    <div>
        <hr />
        <h5>
            @ViewData["SuccessDB"].ToString()
        </h5>
    </div>
}







<div>
    @if (User.IsInRole("Administrators"))
    {
        <a asp-action="BookingManagement">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
